.music-player iframe{
    width: 100%;
    height: 400px;
    align-self: center;
}

.music-player{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 50px;
}